<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css'
    integrity='sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=='
    crossorigin='anonymous' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <title>PDF Scraper</title>

  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }

    main {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }

    footer {
      background: lightslategray;
      text-align: center;
      color: white;
      padding: 20px;
      font-size: 1.2rem;
    }

    footer a {
      color: white;
    }

    footer .fa-solid {
      margin: 0 .5rem;
    }
  </style>
</head>

<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <h1 class="display-5">PDF Scraper</h1>
          <form action="/scrape" method="post">
            <label for="url">Enter the URL:</label>
            <input type="text" id="url" name="url" class="form-control" required>
            <br>
            <label class="form-label" for="outputDir">Enter the output directory:</label>
            <input type="text" id="outputDir" name="outputDir" placeholder="./downloads" class="form-control">
            <br>
            <label class="form-label" for="zipName">Enter the name for the zip file:</label>
            <input type="text" id="zipName" name="zipName" placeholder="pdfs" class="form-control">
            <br>
            <button class="btn btn-dark" type="submit">Scrape</button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer>Made with <i class="fa-solid fa-heart text-danger"></i> &amp; <i class="fa-solid fa-mug-hot text-warning"></i>
    by <a href="https://jarednewnam.com">Jared Newnam</a>, <span id="thisYear"></span></footer>

  <script>
    var currYr = new Date().getFullYear();
    thisYear.textContent = currYr;
  </script>
</body>

</html>